# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# IDE
.vscode/
.idea/

# Output files & datasets
results/
*.tar
CLUSTER_TUTORIAL.md
DOCKER_TUTORIAL.md